<% layout("layouts/boilerplate") %>

    <div class="row">
        <h1 class="text-center">New Picnicspot</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/picnicspots" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" type="text" id="title" name="picnicspot[title]"
                        placeholder="Enter title of picnicspot" required autofocus="autofocus"/>
                        <div class="valid-feedback">Looks Good.</div>
                </div>



                

                  
                <!-- <input type="file" name="image" id="" multiple> -->
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input class="form-control" type="text" id="image" name="picnicspot[image]"
                        placeholder="Enter the URL of image of picnicspot." required/>
                        <div class="valid-feedback">Looks Good.</div>
                </div> -->


                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" type="text" id="location" name="picnicspot[location]"
                        placeholder="Enter the location of picnicspot." required />
                        <div class="valid-feedback">Looks Good.</div>
                </div>


                
                <div class="mb-3">
                    <label for="price" class="form-label">Picnicspot Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" placeholder="0.00" id="price" aria-label="price"
                            name="picnicspot[price]" aria-describedby="price-label" required/>
                            <div class="valid-feedback">Looks Good.</div>
                    </div>
                </div>

               
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" type="text" id="description" name="picnicspot[description]"
                        placeholder="Enter the description of picnicspot." required></textarea>
                        <div class="valid-feedback">Looks Good.</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image(s).</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                  </div>


                <div class="mb-3">
                    <button class="btn btn-success" >Add Picnicspot</button>
                </div>
            </form>
            <a href="/picnicspots" class="text-reset text-decoration-none ">⇽ All Picnicpots</a>
        </div>
    </div>



    
