<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Piknip</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " href="/">Home</a>
          <a class="nav-link" href="/picnicspots">Picnicspots</a>
          <a class="nav-link" href="/picnicspots/new">New Picnicspot</a>
        </div>
        <div class="navbar-nav ms-auto">
           <%// console.log('currentUser***********', currentUser) %>  
          <% if(!currentUser) {%> 
          <a class="nav-link " href="/login">login</a>
          <a class="nav-link" href="/register">register</a>
          <% } else{  %>
          <div class="nav-item dropdown pe-3">
            <a class="nav-link " href="#" id="navbarDropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
              <img src="<%= currentUser.avatar.url %>" alt="" style="width: 30px; height: 30px; border-radius: 30px;"> <%=   currentUser.username %>
            </a>
            
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/users/<%= currentUser.id %> ">Profile</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </div>


            
          
          <% } %> 
          
        </div>
      </div>
    </div>
  </nav>